html{
    font-size:16px;
  }
  
body {
      margin:0px;
      width:100%;
      height:100%;
      font-family: "Avenir Next Cyr"; 
      background-color:#fff;
  }
* {
    box-sizing: border-box;
  }
  
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
p {
  margin: 0;
  }
  
img{
    display: block;
    max-width: 100%;
  }
  
  
.wrapper {
    overflow-x: hidden;                      
    min-height: 100%;
    
   
  }
.container{
    max-width: 1600px;
    width: 95%;
    margin:0 auto;
  }

  .main {
     min-height: calc(150vh - 70px);
  }


 /*header*/ 

  

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.625rem;
    margin-bottom: 2.1875rem;
     
}

.logo__link{
    text-decoration: none;
}

.gamburger__logo{
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    
}  

.span__logo {
    height: auto;
    border-radius: 0.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.05rem;
    width: 93px;
    height: 22px;
    margin:  0 auto;

}

.span__logo:nth-of-type(1){
  background: #4F548A;
}

.span__logo:nth-of-type(2){
    background:  #989B9F;;
}

.span__logo:nth-of-type(3){
    background: #4F548A;
}

.span__logo__text{
    color: #ffff;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
}


.gamburger {
    height: 3.125rem;
    width: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
    flex-shrink: 0;
    margin-left: 37.5rem;
    display: none;
    z-index: 1000; }
  
.gamburger span {
    transition: 1s;
    height: 0.3125rem;
    border-radius: 0.125rem;
    display: block;
    margin: 0.1875rem;
    width: 1.875rem;
    background: #4F548A;
 }



.gamburger.activ span:first-of-type {
    opacity: 0;
    background: #fff;
    position: fixed; 
}
      
     
.gamburger.activ span:nth-of-type(2) {
    top: 3%;
    transform: rotate(45deg);
    background: #fff;
    position: fixed; 
}
      
     
.gamburger.activ span:nth-of-type(3) {
    top: 4%;
    transform: translate(0%, -200%) rotate(-45deg);
    background: #fff;
    position: fixed; 
}







    
.menu {
    display: block;
}
          
.menu__list {
    display: flex; 
}
          
.menu__icon {
    display: flex;
    margin-right: 45px; 
}
          
.menu__icon:last-child {
    margin-right: 0rem; 
}

.menu__title{
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 36px;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
} 

.menu__title:active{
    color: #4F548A;
    opacity: 0.5;
}

.privet{
    display:none;
}




@media (max-width: 768px) {
html {
    font-size: 14px;
}
.container {
    max-width: 600px;
}


.privet {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.25rem;
    height: 100%;
    width: 20%;
    background: #292929;
    overflow: hidden;
    z-index: 100;
    display: none;
}

.privet.activ {
    display: block;
}
   
.menu__phone{
    position: relative;
    top: 20%;
}
          
.menu__phone__list {
    display: flex;
    flex-direction: column; 
}
         
.menu__phone__icon {
    display: flex;
     
}

.menu__phone__title{
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
    letter-spacing: 0.03em;
    color: #fff;
    text-decoration: none;
} 
          
.gamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    right: 4rem;
}

.gamburger span {
    transition: 1s;
    height: 0.3rem;
    border-radius: 0.125rem;
    display: block;
    margin: 0.1875rem;
    width: 1.875rem;
    background: #4F548A;
}

.header__mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 700px;
}

}


@media (max-width: 480px) {
html {
    font-size: 12px;
}
  .container {
    max-width: 480px;
    min-width: 320px;
}


.menu {
    display: none;
}

.privet {
    width: 30%;
    
}

.gamburger {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    right: 7rem;
   
}


.header__mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
}
.header__logo{
      position: relative;
      
}
}


/*/header*/


.credentials{
    margin-top: -2%;
}

.credentials__box{
    margin-top: 2%;
    display: flex; 
    flex-direction: column;
}

.credentials__container{
    margin-top: 18rem;
    display: flex;
}
.credentials__container:first-child{
    margin-top: 0;
}

.credentials__list{
    display: flex;
    flex-direction: column;
    max-width: 30rem; 
    max-height: 15rem;
    margin-right: 6.8rem;
}

.credentials__list:last-child{
    margin-right: 0; 
}



.credentials__icon{
    display: flex;
    align-items: center;
}
.credentials__content__box{
    margin-left:2%;
    width:15rem ; 
}

.credentials__title{
    width:7.5rem ;
}

.SPAC__subtitle{
    margin-top: 20px;
}



.SPAC__box__one{
    display: flex;
    flex-direction: column;
}

.credentials__text{
font-style: normal;
font-weight: 600;
font-size: 4.5rem;
line-height: 110%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #5953A8;
}

.credentials__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 165%;
    letter-spacing: 0.03em;
    color: #4F548A;  
}





@media (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .container {
        max-width: 600px;
    }
    .main {
        min-height: calc(110vh - 70px);
     }

     .credentials__content__box{
        margin-left:2%;
        width:7rem ; 
    }
     .credentials__content{
         display: flex;
         justify-content: center;
         align-items: center;
     }
     
    .credentials__text{
        font-size: 3rem;  
    }

    .credentials__subtitle{
        font-size: 1.5rem;  
    }
    .creatials__container {
        margin-top: 15rem;
    }

    
}

@media (max-width: 480px) {
    html {
        font-size: 12px;
    }
      .container {
        max-width: 480px;
        min-width: 320px;
    }
    .credentials__text{
        font-size: 4rem;  
    }

    .credentials__subtitle{
        font-size: 1.2rem;  
    }

    .credentials__content__box{
        margin-left:2rem;   
    }

    
    .credentials__title {
        width: 5.5rem;
    }
    .credentials__list{
        margin-right: 4rem;
    }
    .credentials__container {
        margin-top: 11rem;
    }
}    

/*footer*/
.footer{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.Disclaimer__text{   
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 36px;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #000000;
text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.link__text{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 36px;
text-align: center;
letter-spacing: 0.03em;
color: #000000;
text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1140px) {
html {
    font-size: 16px;
}
.container {
    max-width: 700px;
}
}
        
@media (max-width: 768px) {
html {
    font-size: 14px;
}
.container {
    max-width: 600px;
}
/*.main {
    min-height: calc(88vh - 70px);
 }*/

    
}
    
@media (max-width: 480px) {
html {
    font-size: 12px;
}
.container {
    max-width: 480px;
    min-width: 320px;
}
.main {
    min-height: calc(90vh - 70px);
 }

.footer{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Disclaimer__text{
    margin-bottom: -40%;
  
}
        
}
