html{
font-size:16px;
}
  
body {
margin:0px;
width:100%;
height:100%;
font-family: "Avenir Next Cyr"; 
background-color:#fff;
}
@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('../fonts/AvenirNextCyr-Medium.eot');
	src: local('☺'), url('fonts/AvenirNextCyr-Medium.woff') format('woff'), url('fonts/AvenirNextCyr-Medium.ttf') format('truetype'), url('fonts/AvenirNextCyr-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
box-sizing: border-box;
}
  
ul, li{
list-style: none;
margin: 0;
padding: 0;
}
  
p {
margin: 0;
}
  
img{
display: block;
max-width: 100%;
}
  
  
.wrapper {
overflow-x: hidden;                      
min-height: 100%;   
}

.container{
max-width: 1600px;
width: 95%;
margin:0 auto;
}

.main {
min-height: calc(87vh - 70px);
}


 /*header*/ 

.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 0.625rem;
margin-bottom: 2.1875rem;
     
}

.logo__link{
text-decoration: none;
}

.gamburger__logo{
height: 3.125rem;
width: 3.125rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-shrink: 0;
    
}  

/*.span__logo {
height: auto;
border-radius: 0.125rem;
display: flex;
justify-content: center;
align-items: center;
margin: 0.05rem;
width: 93px;
height: 22px;
margin:  0 auto;

}

.span__logo:nth-of-type(1){
background: #4F548A;
}

.span__logo:nth-of-type(2){
background:  #989B9F;;
}

.span__logo:nth-of-type(3){
background: #4F548A;
}

.span__logo__text{
color: #ffff;
font-style: normal;
font-weight: 400;
font-size: 10px;
}*/


.gamburger {
height: 3.125rem;
width: 3.125rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
transition: 0.5s;
flex-shrink: 0;
margin-left: 37.5rem;
display: none;
z-index: 1000; }
  
.gamburger span {
transition: 1s;
height: 0.3125rem;
border-radius: 0.125rem;
display: block;
margin: 0.1875rem;
width: 1.875rem;
background: #4F548A;
}



.gamburger.activ span:first-of-type {
opacity: 0;
background: #fff;
position: fixed; 
}
      
     
.gamburger.activ span:nth-of-type(2) {
top: 3%;
transform: rotate(45deg);
background: #fff;
position: fixed; 
}
      
     
.gamburger.activ span:nth-of-type(3) {
top: 4%;
transform: translate(0%, -200%) rotate(-45deg);
background: #fff;
position: fixed; 
}

   
.menu {
display: block;
}
          
.menu__list {
display: flex; 
}
          
.menu__icon {
display: flex;
margin-right: 45px; 
}
          
.menu__icon:last-child {
margin-right: 0rem; 
}

.menu__title{
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 36px;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
} 

.menu__title:active{
color: #4F548A;
opacity: 0.5;
}

.privet{
display:none;
}




@media (max-width: 768px) {
html {
font-size: 14px;
}

.container {
max-width: 600px;
}


.privet {
position: fixed;
top: 0;
right: 0;
padding: 1.25rem;
height: 100%;
width: 20%;
background: #292929;
overflow: hidden;
z-index: 100;
display: none;
}

.privet.activ {
display: block;
}
   
.menu__phone{
position: relative;
top: 20%;
}
          
.menu__phone__list {
display: flex;
flex-direction: column; 
}
         
.menu__phone__icon {
display: flex;    
}

.menu__phone__title{
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 36px;
letter-spacing: 0.03em;
color: #fff;
text-decoration: none;
} 
          
.gamburger {
display: block;
width: 30px;
height: 30px;
position: relative;
right: 4rem;
}

.gamburger span {
transition: 1s;
height: 0.3rem;
border-radius: 0.125rem;
display: block;
margin: 0.1875rem;
width: 1.875rem;
background: #4F548A;
}

.header__mobile {
display: flex;
justify-content: space-between;
width: 100%;
min-width: 700px;
}

}


@media (max-width: 480px) {
html {
font-size: 12px;
}

.container {
max-width: 480px;
min-width: 320px;
}


.menu {
display: none;
}

.privet {
width: 30%;
   
}

.gamburger {
display: block;
width: 30px;
height: 30px;
position: relative;
right: 7rem;  
}


.header__mobile {
display: flex;
justify-content: space-between;
width: 100%;
min-width: 320px;
}

.header__logo{
position: relative;      
}

}

 /*header*/ 

.header {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 0.625rem;
margin-bottom: 2.1875rem;     
}

.logo__link{
text-decoration: none;
}

.gamburger__logo{
height: 3.125rem;
width: 3.125rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
flex-shrink: 0;   
}  

.span__logo {
height: auto;
border-radius: 0.125rem;
display: flex;
justify-content: center;
align-items: center;
margin: 0.05rem;
width: 93px;
height: 22px;
margin:  0 auto;
}

.span__logo:nth-of-type(1){
background: #4F548A;
}

.span__logo:nth-of-type(2){
background:  #989B9F;;
}

.span__logo:nth-of-type(3){
background: #4F548A;
}

.span__logo__text{
color: #ffff;
font-style: normal;
font-weight: 400;
font-size: 10px;
}


.gamburger {
height: 3.125rem;
width: 3.125rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
transition: 0.5s;
flex-shrink: 0;
margin-left: 37.5rem;
display: none;
z-index: 1000;
}
  
.gamburger span {
transition: 1s;
height: 0.3125rem;
border-radius: 0.125rem;
display: block;
margin: 0.1875rem;
width: 1.875rem;
background: #292929;
}



.gamburger.activ span:first-of-type {
opacity: 0;
background: #292929;
position: fixed; 
}
      
     
.gamburger.activ span:nth-of-type(2) {
top: 3%;
transform: rotate(45deg);
background: #292929;
position: fixed; 
}
      
     
.gamburger.activ span:nth-of-type(3) {
top: 4%;
transform: translate(0%, -200%) rotate(-45deg);
background: #292929;
position: fixed; 
}


   
.menu {
display: block;
}
          
.menu__list {
display: flex; 
}
          
.menu__icon {
display: flex;
margin-right: 45px; 
}
          
.menu__icon:last-child {
margin-right: 0rem; 
}

.menu__title{
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 36px;
letter-spacing: 0.03em;
color: #000000;
text-decoration: none;
} 

.menu__title:active{
color: #4F548A;
opacity: 0.5;
}


@media (max-width: 1140px) {
html {
font-size: 16px;
}
.container {
max-width: 700px;
}
}

@media (max-width: 768px) {
html {
font-size: 14px;
}
.container {
max-width: 600px;
}

.menu {
display: none;
}

.gamburger {
display: block;
width: 30px;
height: 30px;
position: relative;
right: 4rem;
}

.gamburger span {
transition: 1s;
height: 0.3rem;
border-radius: 0.125rem;
display: block;
margin: 0.1875rem;
width: 1.875rem;
background: #292929;
}

.header__mobile {
display: flex;
justify-content: space-between;
width: 100%;
min-width: 700px;
}
}


@media (max-width: 480px) {
html {
font-size: 12px;
}

.container {
max-width: 480px;
min-width: 320px;
}

.menu {
display: none;
}

.gamburger {
display: block;
width: 30px;
height: 30px;
position: relative;
   
}

.gamburger span {
transition: 1s;
height: 0.3rem;
border-radius: 0.125rem;
display: block;
margin: 0.1875rem;
width: 1.875rem;
background: #292929;
position: relative;
right: 4rem;
}

.header__mobile {
display: flex;
justify-content: space-between;
width: 100%;
min-width: 320px;
}

.header__logo{
position: relative;     
}

}


/*/header*/



.SPAC__life__name{
display: flex;
align-items: center;
}

.SPAC__life__text{
font-style: normal;
font-weight: 600;
font-size: 2.5rem;
line-height: 110%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #5953A8;
}

.SPAC__life__box{
display: flex;
flex-direction: column;
}

.stroca{
display: flex;
align-items: center;
}

.SPAC__life__title{
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 125%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #4F548A;    
}

.SPAC__life__subtitle{
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 125%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #000000;
}

.SPAC__box__glavnaya{
display: flex;
justify-content: space-around;
/*overflow: hidden;*/
height: 30rem;
}


/*первая колонка*/
.SPAC__box__column__one{
padding: 0px;
margin-right: 10px;
display: flex;
flex-direction: column;
justify-content: space-between; 
align-items: center;
border: 2px solid rgba(0, 0, 0, 0.2);
border-top:transparent; 
border-left: transparent;
border-bottom: transparent;
}

.SPAC__box__column__one__section{
width: 135px;
max-height: 40px;
display: flex;
justify-content: center;
align-items: center;
background: #4F548A;
margin-bottom: 15%;    
}

.SPAC__box__column__one__text{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125%;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;    
}

/*стрела в первой колонке*/
.SPAC__box__column__one__arrow{
cursor: pointer;
position: relative;
width: 100px;
height: 5px;
margin: 10px;
transform: rotate(270deg); 
}
        
.SPAC__box__column__one__arrow div {
position: relative;
top: 0px;
width: 100px;
height: 2px;
background-color: #337AB7;
box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
left:0;
display: block;
}
        
.SPAC__box__column__one__arrow div::after {
content: '';
position: absolute;
width: 20px;
height: 2px;
top: -2px;
right: 0px;
background-color: #337AB7;
transform: rotate(10deg);
}
        
.SPAC__box__column__one__arrow div::before {
content: '';
position: absolute;
width: 20px;
height: 2px;
top: 2px;
right: 0px;
background-color: #337AB7;
box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
transform: rotate(-10deg);
}

/*стрела в первой колонке*/

.SPAC__box__column__one__aside{
width: 161px;
max-height: 40px;
display: flex;
align-items: center;
justify-content: center;
background: #4A6F74;
margin-top: 15%;  

}

.SPAC__box__column__two__section{
margin-top: 10%;    
display: flex;
  
}

.SPAC__box__column__two__section__block{
width: 100px;
max-height: 100px;
left: 98px;
top: 580px;
border: 1px solid #000000;
margin-right: 12px;
padding:10px;
display: flex;
align-items: center;
overflow: hidden;
}

.SPAC__box__column__two__section__title{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 125%;
align-items: center;
letter-spacing: 0.03em;
color: #000000;
}
/*//первая колонка*/

/*линия между*/
/*.line__column__one{
width: 545px;
height: 0px;
left: 458px;
top: 389px;
opacity: 0.25;
border: 2px solid #000000;
transform: rotate(90deg);
}*/
/*линия между*/

/*вторая колонка*/
.SPAC__box__column__two{
display: flex;
justify-content: start;
margin-right: 0rem;       
}

.SPAC__box__column__two__list{
display: flex;
flex-direction: column;  
}

.SPAC__box__column__two__icon{
display: flex;
justify-content: center;
align-items: center;
width: 261px;
height: 40px;
margin-bottom: 15px;   
}

.SPAC__box__column__two__text{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #FFFFFF;    
}

.SPAC__box__column__two__icon:nth-child(1){
background: #979797;
transform: translateX(0);     
}

.SPAC__box__column__two__icon:nth-child(2){
background: #4F548A;
transform:translateX(10%);     
}

.SPAC__box__column__two__icon:nth-child(3){
background: #4A6F74;
transform:translateX(20%);     
}
/*///вторая колонка*/


/*линия между*/
.line__column__two{
display: flex;
justify-content: space-around;
align-items: center;
margin-left:-60px;   
}

/*.line__column__two__section{
width: 157px;
height: 0px;
left: 895px;
top: 389px;   
opacity: 0.25;
border: 2px solid #000000;
transform: rotate(90deg);    
}*/

.line__column__two__box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
margin-bottom: 120px;
   
}

.line__column__two__box::before{
    position: absolute;
    content: "";
    display: block;
    width: 130px;
    height: 2px;
    background:  #000000;
    transform: rotate(90deg);
    opacity: 0.25;
    bottom: 100%;
    margin-bottom: 65px;

}

.line__column__two__box::after{
    position: absolute;
    content: "";
    display: block;
    width: 250px;
    height: 2px;
    background:  #000000;
    transform: rotate(90deg);
    opacity: 0.25;
    top: 100%;
    margin-top: 135px;

}




.line__column__two__content{
margin-top:10px ;
white-space: nowrap;   
}

/*star*/

.line__column__two__subtitle{
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 125%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #4A6F74;
}

/*///линия между*/

/*третья колонка*/
.SPAC__box__column__three{
display: flex;
flex-direction: column;
justify-content: flex-end;
width: 2rem;
position: relative;
top: -5rem;
left: -7rem;   
}
    
.SPAC__box__column__three__list{
display: flex;
flex-direction: column;
position: relative;
 
}
    
.SPAC__box__column__three__icon{
display: flex;
justify-content: center;
align-items: center;
width: 261px;
height: 40px;
margin-bottom: 15px;   
}
    
.SPAC__box__column__three__text{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #FFFFFF;    
}
    
.SPAC__box__column__three__icon:nth-child(1){
background: #979797;
transform: translateX(0);   
}
    
.SPAC__box__column__three__icon:nth-child(2){
background: #4F548A;
transform: translateX(10%);    
}
    
.SPAC__box__column__three__icon:nth-child(3){
background: #4A6F74;
transform: translateX(15%);   
}
/*третья колонка*/

/*линия между*/
.line__column__three{
display: flex;
flex-direction: column;
justify-content: flex-end;    
}
    
/*.line__column__three__section{
width: 330px;
height: 0px;
position: relative;
left: 0px;
top: 154px;
opacity: 0.25;
border: 2px solid #000000;
transform: rotate(90deg);   
}*/
    
.line__column__three__box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
top:0rem; 
left: 2.5em;   
}

.line__column__three__box::before{
    position: absolute;
    content: "";
    display: block;
    width: 400px;
    height: 2px;
    background:  #000000;
    transform: rotate(90deg);
    opacity: 0.25;
    bottom: 100%;
    margin-bottom: 195px;

}
    
.line__column__three__content{
margin-top:10px ;
white-space: nowrap;    
}
    
/*star*/
    
.line__column__three__subtitle{
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 125%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #4A6F74;
}
    
/*///линия между*/

/*четвертая колонка*/
.SPAC__box__column__four{
display: flex;
justify-content: start;
position: relative;
left:-4rem;
}

.SPAC__box__column__four__section{
width: 230px;
height: 74px;
display: flex;
justify-content: center;
align-items: center;
background: #4F548A;    
}

.SPAC__box__column__four__text{
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 125%;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;    
}
/*четвертая колонка*/



.stroca__one{
display: flex;
justify-content: space-between;
align-items: center;
}

.SPAC__life__subtitle{
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 125%;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: #4F548A;   
}



.arrow-1 {
cursor: pointer;
position: relative;
width: 100px;
height: 5px;
/*margin: 20px;*/
margin: 10px;
}

.arrow-1 div {
position: relative;
top: 0px;
width: 100px;
height: 2px;
background-color: #337AB7;
box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
left:0;
display: block;
}

.arrow-1 div::after {
content: '';
position: absolute;
width: 20px;
height: 2px;
top: -2px;
right: 0px;
background-color: #337AB7;
transform: rotate(10deg);
}

.arrow-1 div::before {
content: '';
position: absolute;
width: 20px;
height: 2px;
top: 2px;
right: 0px;
background-color: #337AB7;
box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
transform: rotate(-10deg);
}

.line{
width: 100px;
height: 2px;
background-color: #337AB7;
}

/*strela*/
.arrow-2 {
cursor: pointer;
position: relative;
width: 100px;
height: 5px;
/*margin: 20px;*/
 margin: 10px;
}

.arrow-2 div {
position: relative;
top: 0px;
width: 100px;
height: 2px;
background-color: #337AB7;
box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
left:0;
display: block;
}

.arrow-2 div::after {
content: '';
position: absolute;
width: 20px;
height: 2px;
top: -2px;
right: 0px;
background-color: #337AB7;
transform: rotate(10deg);
}

.arrow-2 div::before {
content: '';
position: absolute;
width: 20px;
height: 2px;
top: 2px;
right: 0px;
background-color: #337AB7;
box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
transform: rotate(-10deg);
}

/*//strela*/


/*star*/


.star { 
font-size: 35px;
color: #4A6F74;;
}

/*///star*/


@media (max-width: 768px) {
html {
font-size: 14px;
}

.container {
max-width: 600px;
}


.main {
min-height: 180vh ;
}
    
.SPAC__life__name{
display: flex;
justify-content: center;
align-items: center;
}

.SPAC__Life__content{
    text-align: center;    
}

.SPAC__life__title{
font-size: 2rem;  
}

.stroca{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
justify-content: center;
}

.SPAC__life__subtitle{
font-size: 2rem;
margin-bottom: 0; 
}

.SPAC__box__glavnaya{
display: flex;
flex-direction: column;
margin-top: 370px;
justify-content: space-around;  
}

.SPAC__box__column__one{
display: flex;
padding: 15px;
border: 2px solid rgba(0, 0, 0, 0.2);
border-top:transparent; 
border-left: transparent;
border-right: transparent;
margin-right: 0;
}

.SPAC__box__column__one__section,
.SPAC__box__column__one__arrow,
.SPAC__box__column__one__aside,
.SPAC__box__column__two__section{
    max-width:100% ;
}

.SPAC__box__column__two{
display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
}

.SPAC__box__column__two__icon:nth-child(2),.SPAC__box__column__two__icon:nth-child(3){
transform: translateX(0);   
}

.line__column__two{
margin-top: 0px;
margin-left: 0;
display: flex;
justify-content: space-around;
align-items: center;
}

.line__column__two__box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
margin-bottom: 0;

}
    
.line__column__two__box::before{
 position: absolute;
content: "";
display: none;
}
    
.line__column__two__box::after{
position: absolute;
content: "";
display: none;
}

.SPAC__box__column__three{
display: flex;
justify-content: center;
align-items: center;
margin-top: 80px;
position: relative;
margin-left: 27rem;
}

.SPAC__box__column__three__icon:nth-child(2),.SPAC__box__column__three__icon:nth-child(3){
transform: translateX(0);   
}

.line__column__three{
margin-left: 0;
display: flex;
align-items: center;
position: relative;
top: -7rem;
left: -3rem;
}
    
.line__column__three__box{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
margin-bottom: 0;
    
}
        
.line__column__three__box::before{
position: absolute;
content: "";
display: none;

}
        
.line__column__three__box::after{
position: absolute;
content: "";
display: none;

}

.SPAC__box__column__four{
position: relative;
left: 13rem;
top: -6rem;
}

.stroca__one{
display: flex;
align-items: center;
position: relative;
top: 24rem;   
}
.SPAC__life__aside{
text-align: center;    
}
}


@media (max-width: 480px) {
html {
font-size: 12px;
}
.container {
max-width: 480px;
min-width: 320px;
}

.SPAC__box__column__three{
margin-left: 23rem;
}

.SPAC__box__column__four{
margin-left: -5rem;   
}
    
}


/*footer*/

.footer{
height: 70px;
display: flex;
justify-content: space-between;
}

.Disclaimer__text{   
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 36px;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #000000;
text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.link__text{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 36px;
text-align: center;
letter-spacing: 0.03em;
color: #000000;
text-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1140px) {
html {
font-size: 16px;
}
.container {
max-width: 700px;
}
}
        
@media (max-width: 768px) {
html {
font-size: 14px;
}
.container {
max-width: 600px;
}


.main {
min-height: 180vh ;
}

    
}
    
@media (max-width: 480px) {
html {
font-size: 12px;
}
.container {
max-width: 480px;
min-width: 320px;
}
.main {
min-height: 180vh ;
}

.footer{       
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.Disclaimer__text{
margin-bottom: -40%;
  
}        
}

.pup__up{
    position: fixed;
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #337AB7;
    left:5% ;
    bottom: 5%;
}